<div class="jumbotron" id="topbackground">

<div class="container">
<div class="row">

<div class="col-xs-4 text-center">
<%= image_tag "cleancitylogo3.png", id: "jumboimg", class: "img-responsive"%>
</div>

<div class="col-xs-8"> 

<h2 id="tag">Working together to keep city clean</h2>
<p>Investing on communities... Investing happiness</p>
</div>

</div>  <!-- row close -->

</div>  <!-- container close -->
</div>

<div class="row">
    <div class="text-center" id="middle-section">
      <hr class='featurette-divider'/>
      <div class="goal"><blockquote class="text-center"><strong>"Our mission is to invest on communities to improve quality of life for people by cleaning and greening the city"</strong></blockquote></div >
      <hr class='featurette-divider'/>
    </div>
</div>

<!-- 1/3 Home PAGE ENDS -->
<div class="text-center" id="learn-more">
<a href="#bottomContainer" class="scroll">Explore<i class="fa fa-sort-desc fa-2x"></i></a>
</div><br>

<!-- 2/3 HOME PAGE BEGINS  -->

<div id="middle"><br/>
      <div class="middle_images">
      <div class="grid">
        <figure class="effect-lily">
          <%= image_tag "ccpic1.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Pickup<span>Lily</span></h2>
            <p>Lily likes to play with crayons and pencils</p>
          </figcaption>     
        </figure>
        <figure class="effect-sadie">
           <%= image_tag "ccpic2.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Paint<span>Sadie</span></h2>
            <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-honey">
          <%= image_tag "ccpic3.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Clean<span>Kelly</span> <i>Now</i></h2>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-layla">
            <%= image_tag "4.jpg", class: "img-responsive" %>>
          <figcaption>
            <h2>Crazy <span>Layla</span></h2>
            <p>When Layla appears, she brings an eternal summer along.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-zoe">
           <%= image_tag "14.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Creative <span>Zoe</span></h2>
            <span class="icon-heart"></span>
            <span class="icon-eye"></span>
            <span class="icon-paper-clip"></span>
            <p>Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-oscar">
          <%= image_tag "ccpic4.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Warm <span>Oscar</span></h2>
            <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-marley">
           <%= image_tag "ccpic5.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Trash<span>Marley</span></h2>
            <p>Marley tried to convince her but she was not interested.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-ruby">
           <%= image_tag "ccpic6.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Rusty <span>Ruby</span></h2>
            <p>Ruby did not need any help. Everybody knew that.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-roxy">
           <%= image_tag "ccpic7.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Charming <span>Roxy</span></h2>
            <p>Roxy was my best friend. She'd cross any border for me.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-bubba">
           <%= image_tag "ccpic8.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Fresh <span>Bubba</span></h2>
            <p>Bubba likes to appear out of thin air.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-romeo">
           <%= image_tag "5.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Wild <span>Romeo</span></h2>
            <p>Romeo never knows what he wants. He seemed to be very cross about something.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
        <figure class="effect-dexter">
           <%= image_tag "ccpic10.jpg", class: "img-responsive" %>
          <figcaption>
            <h2>Strange <span>Dexter</span></h2>
            <p>Dexter had his own strange way. You could watch him training ants.</p>
            <a href="#">View more</a>
          </figcaption>     
        </figure>
       <!-- -->
      </div>
</div>

<!-- 2/3 HOME PAGE ENDS -->

<br><br>
<hr class="featurette-divider"/>
<h3 class="text-center">Make A Difference</h3>
<br>


<!-- 3/3  PAGE BEGINS -->
 <div class="container" id="bottomContainer" >
  <div class="row">
    <div class="stepOne col-md-4 text-center">
      <%= image_tag "signup.jpg", id: "tutorial", class: "img-circle", style: "height:250px; width:250px" %>
      <h3 class="tut_desc"><a href="/signup" class="btn btn-lg btn-primary" id="signup">Sign Up</a></h3>
    </div>
    <div class="stepTwo col-md-4 text-center">
      <%= image_tag "report.jpg", id: "tutorial", class: "img-circle", style: "height:250px; width:250px" %>
      <h3 class="tut_desc"><a href="images/new" class="btn btn-lg btn-primary" id="upload">Upload</a></h3>
    </div>
    <div class="stepThree col-md-4 text-center">    
      <%= image_tag "map.jpg", id: "tutorial", class: "img-circle", style: "height:250px; width:250px" %>
      <h3 class="tut_desc"><a href="/maps" class="btn btn-lg btn-primary" id="map">Map</a></h3>
    </div>
  </div> <!-- row close -->
</div> <!-- container close -->
<!-- 
3/3 PAGE ENDS -->

<br/><br/>
</div>


 