<h1>Images#new</h1>
<h1>Upload an image</h1>

<%= form_for(@image, multipart: true) do |f| %>

  <div class="field">
    <%= f.label :trash %>
    <%= f.file_field :trash %><br/>
  </div>
  <div class="actions">
    <%= f.submit 'Upload It' %><br/>
    <%= link_to 'Nevermind', root_path, class: 'button' %><br/>
    <%= link_to 'View all Images', images_path, class: 'button' %>
  </div>
<% end %>

