<!-- <h1>Images#new</h1> -->
<div class="container">
  <div class="row">
  <div class="col-xs-12">
  <h3>Upload and make a difference</h3>

  <%= form_for(@image, multipart: true) do |f| %>

  <div class="field">
    <%= f.label :PickOne %>
    <%= f.file_field :trash %><br/>
    <%= f.text_area :note %><br>
</div>

  <div class="actions">
    <%= f.submit 'Upload It' %><br/>
    <%= link_to 'Nevermind', root_path, class: 'button' %><br/>
    <%= link_to 'View all Images', images_path, class: 'button' %>
  </div>
<% end %>

