<!-- <h1>Images#new</h1> -->
<div class="container">
  <div class="row">
  <div class="col-xs-12">
  <h3>Upload and make a difference</h3>

  <%= form_for(@image, multipart: true) do |f| %>

  <div class="field">
    <%= f.label :PickOne %>
    <%= f.file_field :trash, required:true %><br/>
    <%= f.text_area :note, :rows => "5", :cols => "30" %><br/>
  </div>
  <!-- right column -->
  <div class="span6">
 
    <form class="form-horizontal">
      <fieldset>
 
      <!-- Form Name -->
      <legend>Add Your Place</legend>
 
      <!-- Text input-->
      <div class="control-group">
        <label class="control-label">Your name</label>
        <div class="controls">
          <input id="place_name" name="name" type="text" placeholder="" class="input-xlarge" required="">
          
        </div>
      </div>
 
      <!-- Text input-->
      <div class="control-group">
        <label class="control-label">Location</label>
        <div class="controls">
          <input id="location" name="location" type="text" placeholder="Enter a city, state or zipcode" class="input-xlarge" required="">
          <p class="help-block">This field will be geocoded with Google Maps API</p>
        </div>
      </div>
 
      <!-- Button -->
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <input type="submit" id="locationBtn" name="locationBtn" class="btn btn-primary" value="Add Location">
        </div>
      </div>

  <div class="actions">
    <%= f.submit 'Upload It'%><br/>
    <%= link_to 'Nevermind', root_path, class: 'button' %><br/>
    <%= link_to 'View all Images', images_path, class: 'button' %>
  </div>
<% end %>

